@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Nastaliq+Urdu:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #821309;
    max-height: 100vh;
    overflow: hidden;
    font-family: "Amiri", serif;
}

.background_ani{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    font-size: 50px;
    color: #feac3a;
    border-radius: 50%;
    margin: 0 4px;
    text-shadow: 0 0 55px #feac3a,
    0 0 100px #feac3a,
    0 0 10px #ff2d7544;
    animation: animate 15s linear infinite;
    animation-duration: calc(110s / var(--i));
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
        /* opacity: 1; */
    }


    100% {
        transform: translateY(-100vh) scale(1);
        /* opacity: 0; */
    }
}

#body{
    display: grid;
    justify-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
}
.hidden {
    display: none !important;
}

.name_input{
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
    display: grid;
    justify-items: center;
    align-content: center;
    /* z-index: 1; */
}
.name_input h2{
    padding: 10px;
    color: #fff;
    text-shadow: 0 0 50px #fff;
    font-size: 50px;
    font-weight: 400;
    font-family: "Noto Nastaliq Urdu", serif;
    /* letter-spacing: 5px; */
}
.name_input input{
    margin: 10px;
    padding: 1rem 2rem;
    font-size: 20px;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 5px #222222;
}
.name_input #submit{
    padding: 0.5rem 1rem;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    color: #eee;
    text-shadow: 1px 1px 2px #821309;
    box-shadow: 2px 2px 5px #222222;
    background: #feac3a;
    cursor: pointer;
}




/* ======================================================= */
.result{
    width: 100%;
    height: 100%;
    direction: rtl;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result-box{
    position: relative;
    width: 90%;
    max-width: 700px;
    min-height: 430px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: -10px 10px 40px #222222;
}
.card{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 30px 40px;
    display: grid;
    color: #fff;
    direction: rtl;
    background-color: #feac3a3d;
    text-align: center;
    align-items: center;
}
.card p{
    font-size: 26px
}
#slide{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    top: 0;
    right: 0;
    transition: .5s;
    flex-direction: column;
    flex-wrap: wrap;
}
.slidebar{
    position: absolute;
    width: 100%;
    padding: 15px 0;
    display: grid;
    direction: ltr;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: space-around;
    z-index: 10000;
    background-color: #feac3a;
}
.slidebar i{
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    border-radius: 50%;
}
/*==================== Responsive ====================*/
@media (max-width: 689px){
    .result-box{
        max-width: 700px;
        min-height: 590px;
    }
    .card p{
        font-size: 20px
    }
    .name_input input{
        margin: 10px;
        padding: 1rem;
    }
    .bubbles span{
        position: relative;
        font-size: 40px;
    }
}

